body{
  height: 700px;
}
.instagram{
    color: white;
    position: absolute;
    top: 550px;
    left: 35px;
    border-color: white;
    border-width: 2.5px;
    border-style: solid;
    border-radius: 25%;
    width: 50px;
    height: 50px;
  }
  .circle{
    color: white;
    position: absolute;
    top: 25%;
    left: 25%;
    border-color: white;
    border-width: 2.5px;
    border-style: solid;
    height: 40% ;
    width: 40%;
    border-radius: 50%;
  }
  .smallcircle{
    border-style: solid;
    border-color: white;
    position: absolute;
    border-width: 4px ;
    top: 5px;
    right: 5px;
    border-radius: 50%;
    

  }
  .linkdin:hover,
  .instagram:hover{
    width: 52px;
    height: 52px;
    border-color: magenta;
    transition: 0.15s;

  }
  .linkdin{
    color: white;
    position: absolute;
    top: 550px;
    left: 110px;
    border-color: white;
    border-width: 2.5px;
    border-style: solid;
    border-radius: 25%;
    width: 50px;
    height: 50px;
   }
  .in{
    position: absolute;
    font-size: 280%;
    left: 12%;

    font-family: sans-serif;
    font-weight: bold;
    font-style: normal;
  }

@media only screen and (max-width:786px){
  .instagram{
    top: 300px;
    height: 40px;
    width: 40px;
  }
  .smallcircle{
    border-width: 2px;
  }
  .linkdin{
    top: 300px;
    left: 100px;
    height: 40px;
    width: 40px;
    
  }
  .in{
    font-size: 37px;
  }
  .instagram:hover,
  .linkdin:hover{
    height: 42px;
    width: 42px;
  }
}