html{
  height: 100%;
}
body {
  background: #000000;
  min-height: 3000px;
}


.mobnav{
  display: none;
}
.menu-icon{
 display: none;
}
.mobilenav{
  display: none;
}
.navbar{
      width: 100%;
      display:inline;
      position: fixed;
      right: 0px;
      background-color: black;
      z-index: 2;
      text-align: right;
      box-shadow: 10px 10px 10px black;

}
.homeimg{
  position: absolute;
  height: 40px;
  display: inline-block;
  right: 300px;
}

nav ul li{
      font-family: monospace;
      font-size: 20px;
      display: inline-block;
      list-style: none;
      margin-right: 50px ;
      text-align: right;
      padding-top: 15px;


}
nav ul li a{
      text-decoration: none;
      color: #fff;


}
.photo{
  height: 650px;
  /*width: 100px;*/
   position: absolute;
  top: 150px;
  right: 100px;
}

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 70px;
    margin: 0;
  /*padding-top: 100px;*/
  position: absolute;
  top: 350px;
  left: 25px;
  line-height: 80px;


}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.button:hover{
  color:#009FFD;
  cursor: pointer;
  transition: 0.15s;

}
.menu:hover{
  box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.15);
  transition: 0.15s;
}
.button:animation:{
  transition: 0.12sec;
}
.animate-charcter:hover,
.typewriter h1:hover{
box-shadow:10px 10px 10px rgba(255, 255, 255, 0.15);
transition: 0.20s;
cursor: pointer;
}

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {

  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .10em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
  display: inline-block;
  position: absolute;
  top: 300px;
  left: 30px;

}
.normal h1 {
  color: #fff;
  font-family: monospace; 

  
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 50% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}
.App {
  text-align: center;
}

.about{
  color: white;
  border-color: white;
  background-color: black;
  height: 50px;
  width: 100px;
  font-size: 20px;
  font-family: monospace;
   position: absolute;
  bottom: 150px;
  

}
  .intro h1{
    font-size: 50px;
    position: absolute;
     color: white;
     top: 970px;
     left: 40px;
     box-shadow: 10px 5px 8px grey;
    }
    .intro p{
     font-family: monospace;
     position: absolute;
     color: white;
     top: 1100px;
     font-size: 27px;
     left: 40px;
     text-align: left;
    }

  .lightblue{
    color: rosybrown;
  }
  .cyan{
    color: cyan;
    
  }
  .instagram{
    color: white;
    position: absolute;
    top: 550px;
    left: 35px;
    border-color: white;
    border-width: 2.5px;
    border-style: solid;
    border-radius: 25%;
    width: 50px;
    height: 50px;
  }
  .circle{
    color: white;
    position: absolute;
    top: 25%;
    left: 25%;
    border-color: white;
    border-width: 2.5px;
    border-style: solid;
    height: 20px ;
    width: 20px;
    border-radius: 50%;
  }
  .smallcircle{
    border-style: solid;
    border-color: white;
    position: absolute;
    border-width: 4px ;
    top: 5px;
    right: 5px;
    border-radius: 50%;
    

  }
  .linkdin:hover,
  .instagram:hover{
    width: 52px;
    height: 52px;
    border-color: magenta;
    transition: 0.15s;
  }

  .linkdin{
    color: white;
    position: absolute;
    top: 550px;
    left: 110px;
    border-color: white;
    border-width: 2.5px;
    border-style: solid;
    border-radius: 25%;
    width: 50px;
    height: 50px;
   }
  .in{
    position: absolute;
    font-size: 45px;
    left: 5px;

    font-family: sans-serif;
    font-weight: bold;
    font-style: normal;
  }
  .footer{
    position: absolute;
    color: peachpuff;
    top :1900px;
    font-size: 30px;
    font-family: monospace;
    border-style: solid;


  }
@media only screen and (max-width: 959px){
  body
    {
    background-color: black;
    }

  .photo
  {
      height: 500px;
      position: absolute;
      top: 200px;
      right: 30px;
      z-index: -1;
  }

  .animate-charcter
  {
    font-size: 65px;
    line-height: 60px;
  }

  .typewriter
  {
    font-size: 15px;
    line-height: 40px;
    position: absolute;
    top: -30px;
    animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;

  } 
    @keyframes typing {
  from { width: 0 }
  to { width: 100% }
  }

  @keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: transparent; }
  }

  .intro h1{
    font-size: 50px;
    position: absolute;
    left: 60px;
  }
  .intro p{
    
    position: absolute;
    left: 22px;
    font-size: 30px;
    text-align: left;
  }
 
}


@media only screen and (max-width:786px){
  body
    {
    background-color: #000;
    }
    .menu-icon{
      
      display: inline-block;
      position: fixed;
      right: 10px;
      z-index: 2;
    }
    .navbar{
      position: fixed;
      z-index: 1;
      background-color: #181A27;
      height: 65px;
    }
    
    .navbar ul li{
      display: none;
    }

    .mobilenav{
    display: inline-block;
      position: fixed;
      right: 10px;
      width: 100%;
      background: grey;
      position: fixed;
      top: 60px;
      right: 0;
      z-index: 2;
  }
    .mobilenav nav ul li{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }
    .mobilenav ul li a {
    color: #000;
  }


    .photo
  {
      height: 200px;
      position: absolute;
      top: 170px;
      right: 30px;
      z-index: -1;
  }

    .animate-charcter
  {
    position: absolute;
    top: 200px;
    font-size: 40px;
    line-height: 40px;
  }

    .typewriter
  {
    position: absolute;
    top: -150px;
    font-weight: thin;
    font-size: 7.5px;
    margin: 2 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;


  } 
  @keyframes typing {
  from { width: 0 }
  to { width: 100% }
  }

  @keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: transparent; }
  }
 .intro h1{
    font-size: 25px;
    position: absolute;
     color: white;
     top: 580px;
     left: 20px;
     box-shadow: 10px 5px 8px grey;
    }
    .intro p{
      font-family: monospace;
    position: absolute;
     color: white;
     top: 650px;
     font-size: 20px;
     left: 10px;
     right: 10px;
     text-align: center;
    }
    .instagram{
      position: absolute;
      top: 300px;
      left: 27px;
      height: 40px;
      width: 40px;
    }
    .circle{
      
      height: 15px;
      width: 15px;
    }
    .smallcircle{
      border-width: 3px;
    }

    .linkdin{
      position: absolute;
      top: 300px;
      left: 90px;
      height: 40px;
      width: 40px;
    }
    .in{
      position: absolute;
      left: 3px;
      font-size: 38px;

    }
    .linkdin:hover,
    .instagram:hover{
      width: 40px;
      height: 40px;
      border-color: magenta;
      transition: 0.15s;
  }
}

